.section-download {
    margin: 0 auto; 

    .download-block {
        background: linear-gradient(287.15deg, #450E4B 24%, rgba(207, 0, 99, 0) 100%), #CF0063;

        .download {
            padding-top: 11.8rem;
            max-height: 51.8rem;
            // background: url(../../img/wave.png) repeat, rgba(0, 0, 0, 0.9);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100%;
    
            &__heading {
                color: #fff;
                font-size: 3.8rem;
                line-height: 126%;
                padding-bottom: 6rem;

                @media (max-width: 56em) {
                    font-size: 3rem;
                }
                @media (max-width: 27em) {
                    font-size: 2.4rem;
                    text-align: center;
                }
            }
            &__buttons {
                display: flex;
                padding-bottom: 15.6rem;
                max-width: 100%;

                @media (max-width: 27em) {
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                    width: 100%;
                }
                
                .btn {
                    padding: 2rem 4rem;
                    cursor: pointer;
                    border: none;
                    background-color: #FC0A7E;
                    color: #fff;
                    font-size: 1.6rem;
                    line-height: 162%;
                    transition: all 0.3s;

                    @media (max-width: 27em) {
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                    }

                    &:hover {
                        transition: 0.3s;
                        font-weight: 700;
                        box-shadow: inset 0 0 0.3rem #fff;
                        background: rgba(0,0,0, 0);
                    }
                }    
                .btn--2 {
                    margin-left: 3rem;
                    color: #fff;
                    background: rgba(0,0,0, 0);
                    border: 0.1rem solid #B04BB3;

                    @media (max-width: 27em) {
                        margin-left: 0;
                    }
                
                    &:hover {
                        background-color: none;
                        box-shadow: inset 0 0 0.3rem #fff;
                    }    
                 
                } 
            }            
        }
    }
}
